mat-toolbar{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
  display: flex;
  // justify-content: space-between;
  // border: 1px solid black
}

li{
  // display: inline-block;
  margin-right: 50px;
}
.profile{
  display:flex;
  // border: 1px solid black;
  align-items: center;
  justify-content:space-between;
  width: 20%
}

img{
  width: 50%;
  // border: 1px solid black;
  height: 100%;
  margin: 0 auto;
}

// a{
//   border: 1px solid black
// }
.account{
  width: 20%;
  flex:1.5;
}
