<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title>Inscription</mat-card-title>
  <mat-card class="form-card" formGroupName="personalInfo">
    <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput formControlName="firstName">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Comment préférez-vous être contacté(e) ?</mat-card-subtitle>
    <mat-radio-group [formControl]="contactPreferenceCtrl">
      <mat-radio-button value="email">Mail</mat-radio-button>
      <mat-radio-button value="phone">Téléphone</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <mat-card class="form-card" [formGroup]="emailForm" *ngIf="showEmailCtrl$ | async">
    <mat-card-subtitle>Email</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Adresse mail</mat-label>
        <input type="text" matInput formControlName="email">
        <mat-error> {{getFormControlErrorText(emailCtrl)}} </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre adresse mail</mat-label>
        <input type="text" matInput formControlName="confirm">
        <mat-error> {{getFormControlErrorText(confirmEmailCtrl)}} </mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showEmailError$ | async">Les deux adresses ne correspondent pas</small>
  </mat-card>
  <mat-card class="form-card" *ngIf="showPhoneCtrl$ | async">
    <mat-card-subtitle>Téléphone</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Numéro de Téléphone</mat-label>
      <input type="text" matInput [formControl]="phoneCtrl">
      <mat-error> {{getFormControlErrorText(phoneCtrl)}} </mat-error>
    </mat-form-field>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>Communauté</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Pays d'origine</mat-label>
        <mat-select [formControl]="originCtrl">
          <mat-option *ngFor="let country of originCountry" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pays actuelle</mat-label>
        <mat-select [formControl]="currentCtrl">
          <mat-option *ngFor="let country of currentCountry" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showPasswordError$ | async">Les mots de passe ne correspondent pas</small>
  </mat-card>
  <mat-card-actions *ngIf="mainForm.valid">
    <button mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading">ENREGISTER</button>
  </mat-card-actions>
  <mat-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-spinner>
  <!-- <mat-card>
    <div class="form-row2">
      <mat-card-subtitle>Or Sign Up Using</mat-card-subtitle>
      <div>
        <a href="#">
          <img src="assets/images/google.png" alt="google"  class="fa-google">
        </a>
        <a href="#">
          <img src="assets/images/facebook.png" alt="facebook" class="fa-facebook">
        </a>
      </div>
    </div>
  </mat-card> -->

</mat-card>
